body, html
{
    background:linear-gradient(to bottom, rgb(126, 178, 255), rgb(36, 73, 129));
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color:#fff;
}

.btn-container {
    margin-top: 20px;
    
}

.headerText {
    margin-top: 20px;
}


.addBook, .generatePosition, .clearArray {
    margin-left: 10px;
}

.bookName {
    margin-top: 20px;
}

.bookListStyle {
    list-style-type: none;
    font-size: 25px;
    
}

.generateText {
  margin-top: 15px;
  list-style-type: none;
  font-size:25px;
  font-weight: bold;
}

@media only screen and (max-width: 420px) {

    body {
        background-color:rgb(185, 185, 185);
    }
   .btn-container {

       display: flex;
       width: 250px;
       margin: 20px auto;
       justify-content: center;
       flex-direction: column;    
   }

   .addBook, .generatePosition, .clearArray {
    margin-top: 10px;
}
  }
