body, html
{
    margin: 0;
    padding: 0;
}

.btn-container {
    margin-top: 20px;

}


.bookName {
    margin-top: 20px;
}

.bookListStyle {
    list-style-type: none;
}

.generateText {
  margin-top: 15px;
  list-style-type: none;
}